:root {
  --background-color: #37474f;
  --blue-color: #0d47a1;
  --yellow-color: #ffd600;
  --pink-color: #ff4081;
  --white-color: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  align-items: center;
}

img {
  width: 58px;
  height: 58px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
  width: 50%;
}

nav button {
  border: none;
  background-color: transparent;
  padding: 0;
}

nav .menu4,
nav .menu5,
nav .menu6 {
  width: 64px;
  height: 48px;
}

nav .menu4 {
  background-color: var(--blue-color);
}

nav .menu5 {
  background-color: var(--yellow-color);
}

nav .menu6 {
  background-color: var(--pink-color);
}
