:root {
  --background-color: #37474f;
  --blue-color: #0d47a1;
  --yellow-color: #ffd600;
  --pink-color: #ff4081;
  --white-color: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  align-items: center;
}

img {
  width: 3.125rem;
  height: 3.125rem;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 50%;
}

.buttons button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.imgBtns,
.colorBtns {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.buttons  .colorBtn {
  width: 4rem;
  height: 2.5rem;
}

.buttons .blue {
  background-color: var(--blue-color);
}

.buttons .yellow {
  background-color: var(--yellow-color);
}

.buttons .pink {
  background-color: var(--pink-color);
}

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  height: 40.625rem;
  overflow: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.list .item {
  display: flex;
  margin: 1rem 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--white-color);
}

.list .item img {
  margin: 0 0.75rem;
}
.list .item .description {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }

  .imgBtns,
  .colorBtns {
    width: 100%;
    margin-bottom: 2rem;
  }
}